/*
  Color Variables
  ---------------
*/
$color-primary: #0202cb;
$color-secondary: #ff6300;
$color-tertiary: #b806cc;
$color-tertiary-dark: #45024c;
$color-white: #ffffff;
$color-black: #000000;
$color-base: #fdf9fe;
/*
  Font Variables
  --------------
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'BenchNine', sans-serif;

body {
  font-family: Inter;
  background: #ffffff;
}
::-webkit-scrollbar {
  width: 0.8rem;
  &:hover {
    width: 1rem;
  }
  &-track {
    // background: #676767;
  }
  &-thumb {
    // background: #676767;
    &:hover {
      // background: #aa0000;
    }
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% 1rem

  // @media (min-width: 320px) and (max-width: 390px) {
  //   font-size: 45%;
  // }

  // @media (min-width: 390px) and (max-width: 768px) {
  //   font-size: 60%;
  // }
  // @media (min-width: 768px) and (max-width: 1024px) {
  //   font-size: 55%;
  // }
  // @media (min-width: 1024px) and (max-width: 1280px) {
  //   font-size: 50%;
  // }
}
