hr {
  @apply h-[.1rem] border-none bg-white/25 mb-[1rem];
}

table {
  @apply border-collapse border-black/10;
  & th {
    @apply text-left border-t-[.1rem] border-b-[.1rem] px-[1.6rem] py-[1.6rem];
  }
  & td {
    @apply border-b-[.1rem] border-black/10 text-left px-[1.6rem] py-[1.6rem];
  }
}

.sidebar {
  & li {
    @apply text-[1.6rem] font-medium;

    &:hover {
      & svg {
        @apply fill-black;
      }
    }
  }

  & .search {
    &:hover {
      & input {
        @apply bg-white;
      }

      & button {
        & svg {
          @apply stroke-black;
        }
      }
    }
  }
}

.input-group {
  @apply flex w-full gap-x-[2.4rem] mb-[2.4rem];
}

.container {
  @apply max-w-[124rem] px-[3.2rem] w-[100%]  mx-auto xl:px-[0] overflow-hidden;
}

.navbar {
  @apply h-[8rem] md:h-[10.4rem] relative  flex items-center justify-between;

  &__logo {
    @apply cursor-pointer w-[8rem] h-[8rem];
  }

  &__list {
    @apply hidden md:flex gap-x-[4rem] h-full items-center;

    &__open {
      @apply px-[3.2rem] top-[9.6rem] w-full absolute z-[100000] left-0 space-y-[2.4rem];

      & li {
        @apply text-[1.8rem] font-semibold font-Nunito;
      }
    }

    & li {
      @apply text-[1.8rem] font-semibold font-Nunito;
    }
  }

  &__btn {
    @apply absolute top-[26.5rem] sm:top-[38vh] md:relative md:block md:bg-[#0202cb] md:px-[2.4rem] text-[1.8rem] md:text-white font-Nunito md:top-0;
  }
}

.header {
  @apply relative flex items-center justify-center;
  &__image {
    @apply h-[100%] h-[32rem] md:h-[unset] overflow-hidden;
    &::after {
      @apply h-[100%] w-[100%] absolute top-0 left-0  bg-[#010001]/70 z-10 content-[''];
    }
  }
}
.footer {
  @apply bg-[#45024c] py-[8rem];
  & h4 {
    @apply font-BenchNine text-white tracking-[.16rem];
  }

  & li {
    @apply font-Nunito text-white text-[1.8rem];
  }

  & p {
    @apply font-Nunito;
  }

  & .container {
    & > * {
      width: 100%;
    }
  }
}

.card {
  @apply md:w-3/4 lg:w-1/3 mb-[8rem] lg:mb-[0] shadow-[0_2px_4px_rgba(0,0,0,0.25)];

  & h4 {
    @apply font-BenchNine font-[700];
  }

  & p {
    @apply font-Nunito;
  }
}

.video {
  &::after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    background-color: rgba($color-black, 0.7);
    height: 100%;
    width: 100%;
  }
}

.section {
  & > * {
    @apply w-[100%] md:w-3/4 lg:w-1/2;
  }
}

.contact {
  @apply my-[10.4rem];
  & h3 {
    @apply font-BenchNine;
  }
  & hr {
    @apply bg-[#ff6300] mt-[0.8rem] w-1/4;
  }
  & p {
    @apply font-Nunito;
  }
  & ul {
    @apply hidden md:block mt-[3.2rem] space-y-[2.4rem];
    & li {
      @apply flex items-center gap-x-[1.6rem] text-[1.8rem] font-Nunito font-semibold;
    }
  }
}
